name: Build & Release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          npm init -y
          npm install typescript --save-dev

      - name: Compile with tsconfig
        run: |
          npx tsc

      - id: inject_core
        name: Inject CORE_URL & Get Time
        run: |
          # 获取日期时间 (UTC)
          UTC_TIME=$(TZ=UTC date '+%Y-%m-%d %H:%M:%S')
          UTC_DATE=$(TZ=UTC date '+%Y-%m-%d')
          echo "UTC_TIME=$UTC_TIME" >> $GITHUB_OUTPUT
          echo "UTC_DATE=$UTC_DATE" >> $GITHUB_OUTPUT
          # 进行替换 Repo
          REPO="${{ github.repository }}"

          mv src/snippet.js dist/snippet.js
          mv src/frontend.html dist/frontend.html

          sed -i "s|REPOPLACEHOLDER|\$REPO|g" src/snippet.js
          sed -i "s|REPOPLACEHOLDER|\$REPO|g" src/frontend.html
          sed -i "s|not-yet-generated|\$UTC_TIME|g" src/snippet.js
          sed -i "s|not-yet-generated|\$UTC_TIME|g" src/frontend.html

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: "Build ${{ steps.inject_core.outputs.UTC_DATE }}"
          files: dist/*
          draft: false
          prerelease: false
          body: |
            在 **${{ steps.inject_core.outputs.UTC_TIME }}** (UTC 时间) 的自动构建
            配置 Repo: **${{ github.repository }}**
            Testing.
            TODO: 文件说明
